body,* {
    margin: 0 ;
    padding: 0;
    font-family: cursive, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
    line-height: 1.5;
}

img {
    margin-top: 0rem;
    width: 45rem;
    height: 41rem;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: #007bff;;
    font-size: 30px;
}

.login {
    margin-top: 7rem;
}

form > div {
    margin-top: 3rem;
}

.row {
    display: flex;
}

.login-email {
    color: black;
    background-color: ghostwhite;
    border-radius: 5rem;
    border: 2px solid #007bff;
    width: 37rem;
    height: 1rem;
    padding: 10px;
    outline: none;
}

.login-password {
    color: black;
    background-color: ghostwhite;
    border-radius: 5rem;
    border: 2px solid #007bff;
    width: 37rem;
    height: 1rem;
    padding: 10px;
    outline: none;
}

button {
    color: #007bff;;
    background-color: transparent;
    border-radius: 5rem;
    border: 2px solid #007bff;
    height: 3rem;
    width: 39rem;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 900;
    font-size: large;
}
button:hover {
    color: black;
    background-color: #fff;
    border: 2px solid #007bff;
}

span {
    color: #007bff;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

.login-btn {
    text-decoration: none;
    color: #007bff;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5rem;
    width: 120px;
    height: 1rem;
    padding: 1rem;
    transition: 2s;
    box-shadow: .5rem 0 .5rem #ffa60000;
}
.login-btn:hover {
    color: #007bff;
    background-color: #fff;
    border: 2px solid white;
    box-shadow: .5rem 0 .5rem #007bff;
}
.login-btn > span {
    visibility: hidden;
}
.login-btn:hover > span {
    visibility: visible;
}

.flow-style {
    display: block;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	margin-top: 150px;
}

.flow-style span {
    border: 1px solid #00000018;
	display: block;
	padding: .5rem;
	cursor: pointer;
	transition: .2s;
	box-shadow: .3rem 0 .5rem #0000002a;
	transition-duration: 1s;
}

.flow-style span:hover {
    padding: 1rem;
	font-size: 2rem;
	transform: rotate(360deg);
}

.flow-style span:nth-of-type(1) {
    border-top-right-radius: 0.75rem;
}

.flow-style span:nth-of-type(4) {
    border-bottom-right-radius: 0.75rem;
}

footer {
    display: flex;
}

.live-chat {
    right: 0;
	bottom: 0;
	z-index: 999;
	margin: 1rem;
	padding: 1rem;
	position: fixed;
	border-radius: 2.75rem;
	box-shadow: .5rem 0 .5rem #0000002d;
	background: linear-gradient(180deg, rgb(46, 94, 253), rgb(68, 0, 255));
}

.live-chat a {
    font-size: xx-large;
	text-decoration: none;	
}

.created {
    color: #007bff;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px;
    margin: 0rem 12rem 0rem 2rem;
    
}

i {
    font-size: xx-large;
}

/* Loading Animation */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: loading 2s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}